body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
}

.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 700px;
	background-image : url(bg.jpg);
	border : 4px solid red;
}

nav {
    position: fixed;
    background: linear-gradient(black, rgba(255, 255, 255, 0.5));
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
}

nav:hover {
    background-color: white;
    background: white;
}

nav:hover a {
    color: black;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav > a {
    color: lightgrey;
    text-decoration: none;
    padding-right: 50px;
}

.textbox{
    background-color: rgba(255,255,255,0.3);
    margin-top: 400px;
    padding-bottom: 1px;
    padding-left: 10px;
}

#title{
    position: absolute;
    top: 40px;
    left: 650px;
}

#saw{
    position: absolute;
    top: 200px;
    left: 550px;
}

#hammer{
    position: absolute;
    top: 40px;
    left: 1100px;
}

#pincers{
    position: absolute;
    top: 375px;
    left: 1175px;
}

#screwdriver{
    position: absolute;
    top: 250px;
    left: 1175px;
}

#saw:hover{
    left: 560px;
    transition: 0.15s;
}

#hammer:hover{
    left: 1095px;
    top: 45px;
    transition: 0.15s;
}

#pincers:hover{
    left: 1165px;
    transition: 0.15s;
}

#screwdriver:hover{
    left: 1165px;
    transition: 0.15s;
}


#toolbox:hover{
    transform:scale(1.1,1.1);
    transition: 0.15s;
}

#toolbox{
    position: absolute;
    top: 300px;
    left: 825px;
}

.onHover {
    position: relative;
    display: inline-block;
}

.onHover:before {
    content: "";
}

.onHover:hover .onHover-content {
    opacity: 1;
    visibility: visible;
}

.onHover-content {
    top: 90px;
    position: absolute;
    z-index: 1;    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    background-color: white;
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
}

.onHover-content > li {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.onHover-content > li > a {
    text-decoration: none;
    color: black;
}

.onHover-content > li:hover {
    background-color: #ffff80;
}

.textInfo {
    position: relative;
    display: inline-block;
    color: blue;
}

.textInfo:before {
    content: "";
}

.textInfo:hover .textInfo-content {
    opacity: 1;
    visibility: visible;
}

.textInfo-content {
    top: 20px;
    left: 0;
    position: absolute;
    z-index: 1;    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    background-color: white;
    color: black;
    list-style-type: none;
    padding: 5px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 10px;
}